{% extends "base.html" %}

{% block content %}
<section>
<p class="lead">New review for {{product.name}}</p>
</section>

<section>

{# Add new review form here #}
  
<form action="{% url 'createreview' product.id %}" method="post">
{% csrf_token %} <!-- this is necessary for post forms -->
{{ form.as_ul }} <!-- renders the form widgets -->
<input type="submit" value="Submit">
</form>




</section>

  {% endblock %}

{% block footer %}
<br>
<div>
<a class="btn btn-sm btn-primary" href="{% url 'show' product.id %}">Back to toy details</a>
<a class="btn btn-sm btn-primary" href="{% url 'index' %}">Back to all toys</a>
</div>
{% endblock %}
